body{
    overflow-x: hidden;
}

canvas {
    cursor: crosshair;
}

div#menubar{
    position: absolute;
    left: 0;
    width: 100px;
    padding-left: 20px;
    top: 10%;
}

canvas#canvas{
    left: 150px;
    top: 45px;
    border: 10px;
    border: solid;
    border-color: #000000;
}

button{
    margin-bottom: 5px;
    width: 100%;
}

input{
    width: 100%;
    margin-bottom: 5px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    left: 0;
    width: 100px;
    padding: 20px;
    top: 10%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 10%;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
    overflow-y: scroll;
  }


.colorButtons {
    display: block;
    margin: 7%;
}

.toolsButtons button{
    width: 48%;
}

.colorSelector{
    background: transparent;
    height: 40px;
}


